*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

button {
    all: unset;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

input,
button,
textarea,
select {
    font: inherit;
}
