:root {
    --bg-color: #161415;
    --primary-color: #ffffff;
    --sub-primary-color: #d0d0d0;
    --secondary-color: #454545;
    --sub-secondary-color: #717171;
    --accent-1: #68b660;
    --accent-2: #30afd7;
    --accent-3: #f49136;
    --accent-4: #ea83b7;
    --font-main: "Lato", sans-serif;
    --font-secondary: "Pattaya", sans-serif;
    --container-width: 1680px;
    --header-height: 129px;
}
